In [2]:
! pip install requests

Requirement already satisfied: requests in c:\users\alebe\anaconda3\lib\site-packages (2.25.1)
Requirement already satisfied: idna<3,>=2.5 in c:\users\alebe\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\alebe\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\alebe\anaconda3\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\alebe\anaconda3\lib\site-packages (from requests) (1.25.11)

In [10]:
import pandas as pd
from api_request import get_price_history

In [33]:
json_data = get_price_history(symbol='AAPL', period=1, periodType='day', frequencyType='minute')

In [34]:
pd.DataFrame.from_dict(json_data['candles'])

       open    high     low   close  volume       datetime
0    132.95  133.03  132.91  132.99   15749  1618484400000
1    132.98  133.03  132.98  133.00    6932  1618484460000
2    133.00  133.00  133.00  133.00     931  1618484520000
3    132.96  132.98  132.94  132.95    7247  1618484580000
4    132.95  132.95  132.91  132.95    4885  1618484640000
..      ...     ...     ...     ...     ...            ...
723  134.38  134.39  134.33  134.33    1665  1618530900000
724  134.37  134.39  134.37  134.39    1290  1618530960000
725  134.39  134.39  134.37  134.37     460  1618531020000
726  134.33  134.36  134.33  134.33    1513  1618531080000
727  134.32  134.37  134.32  134.37    1866  1618531140000

[728 rows x 6 columns]